/* Some setting up */
*{
    box-sizing: border-box;

}
body{
    margin: 0;
}

/* Top buttons */
.buttons{
    gap: 0.1%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

h3{
    margin-right: 3vw;
    background-color: black;
    padding: 1vw;
    border-radius: 0.75vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}
h3:hover{
    color: rgb(115, 115, 115);
    background-color: rgb(33, 33, 33);
}

a{
    color: black;
}

a:hover{
    color: rgb(33, 33, 33)
}

/* First section */
.textnimg{
    display: flex;
    justify-content: center;
    margin: 3vw;
    gap: 3vw;
    font-size: 1.5vw;
    
}

h1{
    font-size: 5vw;
}

img{
    border-radius: 1vw;
    width: 20vw;
    border: 2px solid #a1a1a1;
    border-radius: 1vw;
}

img:hover{
    border-color: black;
    border-style:groove;
}

/* Dividers */
h5{
    visibility: hidden;
    font-size: 2px;
}
.divider, .divider2, .divider3{
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    margin-left: 2vw;
    margin-right:2vw;
}

/* Section 2 */
.text2{
    margin: 3vw;
    margin-right: 10vw;
    font-size: 1.5vw;
}

/* Section 3 */
.text3{
    margin: 3vw;
    margin-right: 10vw;
    font-size: 1.5vw;
}
