/* Some setting up */
*{
    box-sizing: border-box;

}
body{
    margin: 0;
}

/* Top buttons */
.buttons{
    gap: 0.1%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

h3{
    margin-right: 3vw;
    background-color: black;
    padding: 1vw;
    border-radius: 0.75vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}
h3:hover{
    color: rgb(115, 115, 115);
    background-color: rgb(33, 33, 33);
}

a{
    color: black;
}

a:hover{
    color: rgb(33, 33, 33)
}

.toptext{
    margin: 3vw;
    gap: 3vw;
    font-size: 1.5vw;
}

h1{
    font-size: 5vw;
}

/* Dividers */
h6{
    visibility: hidden;
    font-size: 2px;
}
.divider, .divider2, .divider3, .divider4, .divider5, .divider6, .divider7, .divider8, .divider9, .divider10, .divider11{
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    margin-left: 3vw;
    margin-right:3vw;
}

.divider2, .divider3, .divider4, .divider5, .divider6, .divider7, .divider8, .divider9, .divider10, .divider11 {
    margin-top: 2vw;
}

/* Styling images and text in the list */
img{
    border-radius: 1vw;
    width: 25vw;
}

h2{
    font-size: 3vw;
}

p{
    font-size:1.5vw;
}

.n10, .n9, .n8, .n7, .n6, .n5, .n4, .n3, .n2, .n1{
    margin-left: 3vw;
    margin-right: 20%;
}