/* Some setting up */
*{
    box-sizing: border-box;

}
body{
    margin: 0;
}

/* Top buttons */
.buttons{
    gap: 0.1%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

h3{
    margin-right: 3vw;
    background-color: black;
    padding: 1vw;
    border-radius: 0.75vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}
h3:hover{
    color: rgb(115, 115, 115);
    background-color: rgb(33, 33, 33);
}

a{
    color: black;
}

a:hover{
    color: rgb(33, 33, 33)
}

/* Styling section 1 */

.toptext{
    margin: 3vw;
    gap: 3vw;
    font-size: 1.5vw;
}

p{
    font-size:1.5vw;
}

h1{
    font-size: 5vw;
}

/* Dividers */
h6{
    visibility: hidden;
    font-size: 2px;
}
.d,.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9,.d10,.d11,.d12,.d13,.d14,.d15,.d16,.d17,.d18,.d19,.d20,.d21,.d22,.d23,.d24,.d25,.d26,.d27,.d28,.d29,.d30,.d31,.d32,.d33,.d34,.d35,.d36,.d37,.d38,.d39,.d40,.d41,.d42,.d43,.d44,.d45,.d46,.d47,.d48,.d49,.d50,.d51,.d52,.d53,.d54,.d55,.d56,.d57,.d58,.d59,.d60,.d61,.d62,.d63,.d64,.d65,.d66{
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    margin-left: 3vw;
    margin-right:3vw;
}

.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9,.d10,.d11,.d12,.d13,.d14,.d15,.d16,.d17,.d18,.d19,.d20,.d21,.d22,.d23,.d24,.d25,.d26,.d27,.d28,.d29,.d30,.d31,.d32,.d33,.d34,.d35,.d36,.d37,.d38,.d39,.d40,.d41,.d42,.d43,.d44,.d45,.d46,.d47,.d48,.d49,.d50,.d51,.d52,.d53,.d54,.d55,.d56,.d57,.d58,.d59,.d60,.d61,.d62,.d63,.d64,.d65,.d66{
    margin-top: 2vw;
}

/* Styling images and text in the list */
img{
    border-radius: 1vw;
    width: 25vw;
}

h2{
    font-size: 3vw;
}

.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10,.i11,.i12,.i13,.i14,.i15,.i16,.i17,.i18,.i19,.i20,.i21,.i22,.i23,.i24,.i25,.i26,.i27,.i28,.i29,.i30,.i31,.i32,.i33,.i34,.i35,.i36,.i37,.i38,.i39,.i40,.i41,.i42,.i43,.i44,.i45,.i46,.i47,.i48,.i49,.i50,.i51,.i52,.i53,.i54,.i55,.i56,.i57,.i58,.i59,.i60,.i61,.i62,.i63,.i64,.i65{
    margin-left: 3vw;
    margin-right: 20%;
}